<section  class="auth-wrapper  d-flex justify-content-center align-items-center " >
  <div class="auth-content  bg-white p-5 rounded-3 " >
    <div class="header d-flex justify-content-center align-items-center">
      <img src="../../../../../assets/images/logo.png" alt="logo">
    </div>
    <div class="auth-form ">
      <div class="p-3">
        <h2> Forgot Your Password?
        </h2>
        <p>No worries! Please enter your email and we will send a password reset link </p>
      </div>
      <form class="d-flex flex-column  gap-3 p-3" [formGroup]="requestResetPasswordForm" (ngSubmit)="sendData(requestResetPasswordForm)" >
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
          <input type="text" class="form-control" placeholder="Enter your E-mail" aria-label="Username" aria-describedby="basic-addon1"
                 formControlName="email"

          >
        </div>
        <div class="alert alert-danger" *ngIf="requestResetPasswordForm.get('email')?.errors &&requestResetPasswordForm.get('email')?.touched ">
          <p *ngIf="requestResetPasswordForm.get('email')?.errors?.['required'] "> Email is Required</p>
          <p *ngIf="requestResetPasswordForm.get('email')?.errors?.['email'] "> Email is invalid</p>

        </div>

        <button type="submit" class="btn btn-primary btn-block rounded-2" [disabled]="requestResetPasswordForm.invalid">send</button>
      </form>
    </div>
  </div>

</section>
