<section  class="auth-wrapper  d-flex justify-content-center align-items-center " >
  <div class="auth-content  bg-white p-5 rounded-3 " >
    <div class="header d-flex justify-content-center align-items-center">
      <img src="assets/images/logo.png" alt="logo">
    </div>
    <div class="auth-form ">
      <div class="p-3">
        <h2> Reset  Password
        </h2>
        <p>Please Enter Your Otp  or Check Your Inbox</p>
      </div>
      <form class="d-flex flex-column  gap-3 p-3" [formGroup]="resetPasswordForm" (ngSubmit)="sendData(resetPasswordForm)" >
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
          <input type="text" class="form-control" placeholder="Enter your E-mail" aria-label="Username" aria-describedby="basic-addon1"
                 formControlName="email"
                 readonly
          >
        </div>
        <div class="alert alert-danger" *ngIf="resetPasswordForm.get('email')?.errors &&resetPasswordForm.get('email')?.touched ">
          <p *ngIf="resetPasswordForm.get('email')?.errors?.['required'] "> Email is Required</p>
          <p *ngIf="resetPasswordForm.get('email')?.errors?.['email'] "> Email is invalid</p>

        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-lock"></i></span>
          <input type="text" class="form-control password" placeholder="OTP" aria-label="Code"
                 formControlName="seed" aria-describedby="basic-addon2">
        </div>
        <div class="alert alert-danger" *ngIf="resetPasswordForm.get('seed')?.errors && resetPasswordForm.get('seed')?.touched">
          <p *ngIf="resetPasswordForm.get('seed')?.errors?.['required']"> OTp is Required</p>

        </div>
        <div class="col-12 my-2">
          <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon5"><i class="fa-solid fa-lock"></i></span>
            <input [type]="isHide?'password':'text'" class="form-control password" placeholder="New Password" aria-label="Password"
                   aria-describedby="basic-addon5"
                   formControlName="password"
            >

            <a class="input-group-text pass-eye" id="basic-addon2"  (click)="isHide=!isHide" >
             <span >
            <i class="fa-regular " [class]="isHide? 'fa-eye-slash': 'fa-eye'"></i>
             </span>
            </a>

          </div>
          <div class="alert alert-danger" *ngIf="resetPasswordForm.get('password')?.errors && resetPasswordForm.get('password')?.touched">
            <p *ngIf="resetPasswordForm.get('password')?.errors?.['required']"> password is Required</p>
            <p *ngIf="resetPasswordForm.get('password')?.errors?.['pattern']">Password is invalid must have upper , lower ,($#@)</p>
          </div>
        </div>
        <div class="col-12 my-2">
          <div class="input-group mb-3 col-6">
            <span class="input-group-text" id="basic-addon6"><i class="fa-solid fa-lock"></i></span>
            <input [type]="isHide?'password':'text'" class="form-control password" placeholder="Confirm New Password" aria-label="Password"
                   aria-describedby="basic-addon6"
                   formControlName="confirmPassword"
            >

            <a class="input-group-text pass-eye" id="basic-addon2"  (click)="isHide=!isHide" >
             <span >
            <i class="fa-regular " [class]="isHide? 'fa-eye-slash': 'fa-eye'"></i>
             </span>
            </a>
          </div>
          <div
            class="alert alert-danger"
            *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required'] && resetPasswordForm.get('confirmPassword')?.touched"
          >
            <p>confirm password is Required</p>
          </div>

          <div
            class="alert alert-danger"
            *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.touched"
          >
            <p>Passwords do not match.</p>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block rounded-2" [disabled]="resetPasswordForm.invalid">Reset Password</button>
      </form>
    </div>
  </div>

</section>
