section {
  .banner {
    background-color: #009247;
    border-radius: 16px;
    background-image: url(/assets/images/bnner-group.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 167 px;
    color: #fff;
    p {
      color: #dfe0e0;
    }
  }
  .recipes {
    background-color: #f0ffef;
    padding: 22px;
    border-radius: 15px;
  }
  .recipe-table-wrapper {
    table thead tr {
      background-color: #e2e5eb;
    }
  }
  .dropdown a i {
    color: #009247;
  }
}
