<section  class="login-wrapper  d-flex justify-content-center align-items-center " >
  <div class="login-content  bg-white p-5 rounded-3 " >
     <div class="header d-flex justify-content-center align-items-center">
      <img src="assets/images/logo.png" alt="logo">
     </div>
    <div class="login-form ">
      <form class="d-flex flex-column  gap-3 p-3" [formGroup]="loginForm" (ngSubmit)="sendData(loginForm)" >

        <div>
          <h2>Log In</h2>
          <p>Welcome Back! Please enter your details</p>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen"></i></span>
          <input type="text" class="form-control" placeholder="Enter your E-mail" aria-label="Username" aria-describedby="basic-addon1"
           formControlName="email">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-lock"></i></span>
          <input [type]="isHide?'password':'text'" class="form-control password" placeholder="Password" aria-label="Password"
                 formControlName="password" aria-describedby="basic-addon2">

          <a class="input-group-text pass-eye" id="basic-addon2"  (click)="isHide=!isHide" >
             <span >
            <i class="fa-regular " [class]="isHide? 'fa-eye-slash': 'fa-eye'"></i>
             </span>

          </a>



        </div>
        <div class="links d-flex justify-content-between">
          <a href="">Register Now?</a>
          <a class="forget-password" href="">Forgot Password?</a>
        </div>

        <button type="submit" class="btn btn-primary btn-block rounded-2">login</button>
      </form>
    </div>
  </div>

</section>
