<div class="loader-layer" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<section class="d-flex flex-column gap-3 ">
  <div class="banner p-3">
    <div class="row align-items-center justify-content-center">
      <div class="col-8">
        <div class="content">
          <h2>Favorite <span>Items</span> </h2>
          <p>
            You can now add your items that any user can order it from the Application and you can edit
          </p>
        </div>
      </div>
      <div class="col-3 d-flex align-items-center justify-content-end">
        <div class="image">
          <img src="/src/assets/images/recipe-group.png" alt="food" srcset="" />
        </div>
      </div>
    </div>
  </div>

  <div class="favorite-table-wrapper">

    <div class="card-wrapper row  gap-1 ">
      <ng-container *ngIf="favoriteList.length>0">
        <div class="recipe-filters">
          <form class="d-flex row align-items-center justify-content-between mb-3">
            <div class="col-8">
              <input
                class="form-control"
                type="search"
                placeholder="Search Here"
                aria-label="Search"
              />
            </div>

            <div class="col-4 d-flex align-items-center gap-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>tag</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <select class="form-select" aria-label="Default select example">
                <option selected>category</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </form>
        </div>
        <mat-card class="recipe-card position-relative  col-4 " *ngFor="let fav of favoriteList ; let index=index">
          <mat-card-header class="w-100 p-0" ngClass="imge-wrapper">
            <img mat-card-image [src]="'https://upskilling-egypt.com:3006/' + fav.recipe.imagePath" [alt]="fav.recipe.name" >
          </mat-card-header>

          <mat-card-content class="my-2">
            <mat-card-title>{{ fav.recipe.name }}</mat-card-title>
            <p class="my-3">
              {{ fav.recipe.description
              }}
            </p>
            <div class="icon-container  d-flex justify-content-center align-items-center position-absolute" (click)="openDeleteDialog(fav)">
              <mat-icon  fontIcon="favorite"></mat-icon>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="d-flex justify-content-center ">
          <mat-paginator #paginator
                         class="demo-paginator"
                         (page)="handlePageEvent($event)"
                         [length]="length"
                         [pageSize]="pageSize"
                         aria-label="Select page">
          </mat-paginator>
        </div>

      </ng-container>
      <div *ngIf="!favoriteList.length">
        <div colspan="7" class="text-center py-4">
          <div>
            <img src="../../../../../../assets/images/no-data.png" alt="No data">
            <h4>Nothing here yet 👀</h4>

            <p>
              You haven’t added any recipes yet.
              Explore recipes and add your favorites now!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
