section {
  .banner {
    background-color: #009247;
    border-radius: 16px;
    background-image: url(/src/assets/images/bnner-group.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 323px;
    color: #fff;
    span.user-name {
      color: #dfe0e0;
      font-weight: 200;
    }
    p {
      color: #dfe0e0;
    }
  }
  .recipes {
    background-color: #f0ffef;
    padding: 22px;
    border-radius: 15px;
    span.recipes {
      color: #009247;
    }
  }
}
