<section class="auth-wrapper d-flex justify-content-center align-items-center">
  <div class="auth-content bg-white p-5 rounded-3">
    <div class="header d-flex justify-content-center align-items-center">
      <img src="assets/images/logo.png" alt="logo" />
    </div>
    <div class="auth-form">
      <div class="p-3">
        <h2>Log In</h2>
        <p>Welcome Back! Please enter your details</p>
        <p>habiba0helmy@gmail.com</p>
        <p>test@Test3</p>

        <p>upskilling@yahoo.com</p>
        <p>test@Test1</p>
      </div>
      <form
        class="d-flex flex-column gap-3 p-3"
        [formGroup]="loginForm"
        (ngSubmit)="sendData(loginForm)"
      >
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            ><i class="fa-solid fa-mobile-screen"></i
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Enter your E-mail"
            aria-label="Username"
            aria-describedby="basic-addon1"
            formControlName="email"
            [disabled]="loginForm.invalid"
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            loginForm.get('email')?.errors && loginForm.get('email')?.touched
          "
        >
          <p *ngIf="loginForm.get('email')?.errors?.['required']">
            Email is Required
          </p>
          <p *ngIf="loginForm.get('email')?.errors?.['email']">
            Email is invalid
          </p>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon2"
            ><i class="fa-solid fa-lock"></i
          ></span>
          <input
            [type]="isHide ? 'password' : 'text'"
            class="form-control password"
            placeholder="Password"
            aria-label="Password"
            formControlName="password"
            aria-describedby="basic-addon2"
          />

          <a
            class="input-group-text pass-eye"
            id="basic-addon2"
            (click)="isHide = !isHide"
          >
            <span>
              <i
                class="fa-regular"
                [class]="isHide ? 'fa-eye' : 'fa-eye-slash'"
              ></i>
            </span>
          </a>
        </div>
        <div
          class="alert alert-danger"
          *ngIf="
            loginForm.get('password')?.errors &&
            loginForm.get('password')?.touched
          "
        >
          <p *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is Required
          </p>
          <p *ngIf="loginForm.get('password')?.errors?.['pattern']">
            Password is invalid must have upper , lower ,($#@)
          </p>
        </div>
        <div class="links d-flex justify-content-between">
          <a routerLink="register">Register Now?</a>
          <a class="forget-password" routerLink="request-reset-password"
            >Forgot Password?</a
          >
        </div>

        <button
          type="submit"
          class="btn btn-primary btn-block rounded-2"
          [disabled]="loginForm.invalid"
        >
          login
        </button>
      </form>
    </div>
  </div>
</section>
