<section  class="login-wrapper  d-flex justify-content-center align-items-center " >
  <div class="login-content  bg-white p-5 rounded-3 " >
    <div class="header d-flex justify-content-center align-items-center">
      <img src="../../../../../assets/images/logo.png" alt="logo">
    </div>
    <div class="login-form ">
      <div class="p-3">
        <h2>Register</h2>
        <p>Welcome Back! Please enter your details</p>
      </div>
      <form class="d-flex flex-column  gap-3 p-3"  [formGroup]="registerForm" (ngSubmit)="sendData(registerForm)">
      <div class="row">
        <div class="col-6 my-2">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen"></i></span>
            <input type="text" class="form-control" placeholder="User Name" aria-label="Username" aria-describedby="basic-addon1"
                   formControlName="userName"
            >
          </div>

          <div class="alert alert-danger" *ngIf="registerForm.get('userName')?.errors && registerForm.get('userName')?.touched">
            <p *ngIf="registerForm.get('userName')?.errors?.['required']"> userName is Required</p>
            <p *ngIf="registerForm.get('userName')?.errors?.['maxlength']"> The userName may not be greater than 8 characters </p>
            <p *ngIf="registerForm.get('userName')?.errors?.['pattern']"> The userName must contain characters and end with numbers without spaces. </p>
          </div>
        </div>
        <div class="col-6 my-2">
          <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-mobile-screen"></i></span>
            <input type="text" class="form-control" placeholder="Enter your E-mail" aria-label="Email" aria-describedby="basic-addon2"
                   formControlName="email"
            >
          </div>
          <div class="alert alert-danger" *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
            <p *ngIf="registerForm.get('email')?.errors?.['required']"> Email is Required</p>
          </div>

        </div>
        <div class="col-6 my-2">
          <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon3"><i class="fa-solid fa-lock"></i></span>
            <input type="text" class="form-control" placeholder="country" aria-label="country" aria-describedby="basic-addon3"
                   formControlName="country"
            >
          </div>
          <div class="alert alert-danger" *ngIf="registerForm.get('country')?.errors && registerForm.get('country')?.touched">
            <p *ngIf="registerForm.get('country')?.errors?.['required']"> country is Required</p>
            <p *ngIf="registerForm.get('country')?.errors?.['maxlength']"> The country may not be greater than 8 characters </p>
          </div>
        </div>
        <div class="col-6 my-2">
          <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon4"><i class="fa-solid fa-mobile-screen"></i></span>
            <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number" aria-describedby="basic-addon4"
                   formControlName="phoneNumber"
            >
          </div>
          <div class="alert alert-danger" *ngIf="registerForm.get('phoneNumber')?.errors && registerForm.get('phoneNumber')?.touched">
            <p *ngIf="registerForm.get('phoneNumber')?.errors?.['required']"> phoneNumber is Required</p>
            <p *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']">Enter a valid mobile number (11 digits, starting with 01, no spaces).</p>
          </div>
        </div>
        <div class="col-6 my-2">
          <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon5"><i class="fa-solid fa-lock"></i></span>
            <input [type]="isHide?'password':'text'" class="form-control password" placeholder="Password" aria-label="Password"
                   aria-describedby="basic-addon5"
                   formControlName="password"
            >

            <a class="input-group-text pass-eye" id="basic-addon2"  (click)="isHide=!isHide" >
             <span >
            <i class="fa-regular " [class]="isHide? 'fa-eye-slash': 'fa-eye'"></i>
             </span>

            </a>



          </div>
          <div class="alert alert-danger" *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
            <p *ngIf="registerForm.get('password')?.errors?.['required']"> password is Required</p>
            <p *ngIf="registerForm.get('password')?.errors?.['pattern']">Password is invalid must have upper , lower ,($#@)</p>
          </div>
        </div>
        <div class="col-6 my-2">
          <div class="input-group mb-3 col-6">
            <span class="input-group-text" id="basic-addon6"><i class="fa-solid fa-lock"></i></span>
            <input [type]="isHide?'password':'text'" class="form-control password" placeholder="Confirm Password" aria-label="Password"
                   aria-describedby="basic-addon6"
                   formControlName="confirmPassword"
            >

            <a class="input-group-text pass-eye" id="basic-addon2"  (click)="isHide=!isHide" >
             <span >
            <i class="fa-regular " [class]="isHide? 'fa-eye-slash': 'fa-eye'"></i>
             </span>
            </a>
          </div>
          <div class="alert alert-danger" *ngIf="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched">
            <p *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"> confirm password is Required</p>
            <p *ngIf="registerForm.get('confirmPassword')?.errors?.['pattern']"> Passwords do not match.</p>
          </div>
        </div>
       <div class="d-flex align-items-center justify-content-center">
       <ngx-dropzone (change)="onSelect($event)" >
         <ngx-dropzone-label>
           <i class="fa-solid fa-cloud-arrow-up"></i>
           <p>upload your Img</p>
         </ngx-dropzone-label>
         <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"  [removable]="true" (removed)="onRemove(f)" *ngFor="let f of files" [file]="f">
         </ngx-dropzone-image-preview>
       </ngx-dropzone>
      </div>

      </div>
        <div class="links d-flex ms-auto">
          <a class="forget-password" routerLink="/auth">Login Now?</a>
        </div>
        <button type="submit" class="btn btn-primary btn-block rounded-2" [disabled]="registerForm.invalid">Register</button>
      </form>
    </div>
  </div>

</section>
