section {
  background-color: #f8f9fb;
  border-radius: 16px;
  .left input {
    width: 100%;
  }
  .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .profile-img img {
    width: 100%;
  }
}
