<section class="nav-wrapper my-2 w-100 p-3 mb-4">
  <div class="row align-items-center">
    <div class="col-9">
      <div class="left">
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search Here"
            aria-label="Search"
          />
          <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
      </div>
    </div>
    <div class="col-3">
      <div class="right d-flex justify-content-between align-items-center">
        <div class="profile d-flex align-items-center justify-content-center">
          <div
            class="profile-img d-flex align-items-center justify-content-center"
          >
            <img src="../../../assets/images/3.png" alt="profile" srcset="" />
          </div>
          <div class="profile-name">
            {{ userName }} <i class="fa-solid fa-angle-down"></i>
          </div>
        </div>
        <div class="notification">
          <span class="position-relative">
            <i class="fa-solid fa-bell"></i>
            <span
              class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
            >
              <span class="visually-hidden">New alerts</span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
