<section class="d-flex flex-column gap-3">
  <div class="banner">
    <div class="row align-items-center justify-content-center">
      <div class="col-8">
        <div class="content">
          <h1>Welcome <span class="user-name">Upskilling !</span></h1>
          <p>
            This is a welcoming screen for the entry of the application , you
            can now see the options
          </p>
        </div>
      </div>
      <div class="col-3 d-flex align-items-center justify-content-end">
        <div class="image">
          <img
            src="../../../assets/images/banner-png.png"
            alt="food"
            srcset=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="recipes">
    <div class="row align-items-center justify-content-between">
      <div class="col-9">
        <h3>Fill the<span class="recipes">Recipes</span>!</h3>
        <p>
          you can now fill the meals easily using the table and form , click
          here and sill it with the table !
        </p>
      </div>
      <div class="col-3 d-flex align-items-center justify-content-end">
        <button class="btn btn-success">
          Fill Recipes <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>
